.minSongsQuery {
  text-align: center;
  margin-top: 50px;
}

input {
  border-radius: 10px;
  height: 25px;
}

.authenticate {
    display: flex;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotifyButton {
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    gap: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.spotifyButton:hover {
    background-color: #00e51f;
}
