/* General Section */

html,
body {
  color: white;
  margin: 0;
  height: 100%;
  background-color: green;
}

h1 {
  text-align: center;
}

/* Headers */

.headers {
  display: flex;
  justify-content: space-between;
  padding-inline: 200px;
}

.likedHeader {
  width: 300px;
}

/* Sub Text */

.subText {
  display: flex;
  justify-content: space-between;
  padding-inline: 200px;
  width: 300ps;
}

.likedSubText {
  width: 200px;
  text-align: center;
}

.buttons {
  background-color: black;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 50%;
  margin-left: 200px;
}

.buttons:hover {
  background-color: #333333;
}

.authenticate {
    display: flex;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


